{% extends 'engineer/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <form action="{% url 'engineer:updateprofile' user.id%}" method="POST">
  {% csrf_token %}
  <div class="card col-xs-12 col-sm-6">
       <table class="table">
         <tr>
           <td>性</td>
           <td>{{ form.first_name }}</td>
        </tr>
         <tr>
           <td>名</td>
           <td>{{ form.last_name }}</td>
         </tr>
      </table>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
  	         <button type="submit" class="btn btn-lg btn-block btn-outline-primary">送信</button>
    　　 </div>
  　　　</div>
  </div>
</form>
</div>
{% endblock %}
