body{
    color: #333;
    font-family: Verdana,sans-serif;
    margin: 0;
}

header{
  text-align: right;
  padding: 10px;
  background-image: url(../header.png);
  height: 240px;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 60px;
}

header ul{
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
}

header li{
  display: inline-block;
  padding: 4px 8px;
  font-size: 20px;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a:hover{
  color: royalblue;
}

.current{
  border-bottom: 4px solid royalblue;
}


section{
  text-align: center;
}

section h1{
  font-weight: normal;
}

.icon{
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 5px gray;
}

.works{
  width: 400px;
  margin: 60px auto;
  border-bottom: 1px solid gray;
}

.works h1,
.works p{
  text-align: left;
}

.works > section{
  margin-bottom: 60px
}

footer {
  width: 400px;
  margin: 0 auto 60px;
}

footer ul{
  margin: 0;
  padding-left: 0px;
  list-style-type: none;
  /* フッタの並びを揃える */
  float: left;
}

footer li{
  display: inline-block;
}

footer a{
  text-decoration: none;
  color: inherit;
}

footer a:hover{
  opacity: 0.6;
}

footer p{
  color:lightgray;
  font-size:14px;
  text-align:right;

}
