<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="ja">
	<meta charset="utf-8">
	<title>正樹のポートフォリオサイト</title>
	<link rel="icon" href="{% static 'engineer/favicon.ico'%}" >
	<meta name="description" content="正樹のポートフォリオサイトです">
	<link rel="stylesheet" href="{% static 'engineer/css/styles.css' %}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="current">
					<a href="{% url 'engineer:index' %}">
						HOME
					</a>
				</li>
				<li class="current">
					<a href="{% url 'engineer:about' %}">
						ABOUT
					</a>
				</li>
			</ul>
		</nav>
		<!-- <img src="{% static 'engineer/header.png'%}" width="140" height="140" alt="ヘッダ画像"> -->
	</header>

	<section>
		<img src="{% static 'engineer/taro.png'%}" width="140" height="140" alt="太郎のアイコン" class="icon">
	{% block profile %}
		<h1>村浦正樹</h1>
		<p>エンジニアです</p>
	{% endblock %}
	</section>

	{% block content %}
	{% endblock %}

　<footer>
		<ul>
			<a href="mailto:clutch.shooter.mura@gmail.com" target="_blank">
				<li><img src="{% static 'engineer/mail.png'%}" width="20" height="20" alt="メール"></li>
			</a>
			<a href="https://dotinstall.com/" target="_blank">
				<li><img src="{% static 'engineer/blog.png'%}" width="20" height="20" alt="ブログ"></li>
			</a>
			<a href="https://dotinstall.com/" target="_blank">
				<li><img src="{% static 'engineer/photos.png'%}" width="20" height="20" alt="写真"></li>
			</a>
	</ul>
	<p>(c) masaki muarura</p>
	</footer>
</body>
</html>
