<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="ja">
	<meta charset="utf-8">
	<title>エンジニアコミュニティ</title>
	<!-- <link rel="icon" href="{% static 'user_auth/favicon.ico'%}" > -->
	<meta name="description" content="エンジニアコミュニティ">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid">
	<div class="jumbotron">
    <h3 class="display-12">エンジニアコミュニティ {{ user.username }}</h3>
		<ul class="list-inline" style="text-align: right">
			<li class="list-inline-item">
				<a href="{% url 'user_auth:register' %}" >
					新規登録
				</a>
			<li class="list-inline-item">
				<a href="{% url 'user_auth:mypage' %}" >
					マイページ
				</a>
			</li>
			<li class="list-inline-item">
				<a href="{% url 'user_auth:login' %}">
					ログイン
				</a>
			</li>
			<li class="list-inline-item">
				<a href="{% url 'user_auth:logout' %}">
					ログアウト
				</a>
			</li>
		</ul>
    <!-- <hr class="m-y-md"> -->
    <p class="lead">ブロックチェーンを使用したアプリ</p>
    <p>このサイトはエンジニアと企業を結びつけるサービスです</p>
  </div>

  {% block content %}
  {% endblock %}
<body>
</html>
