{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-sm-6">
      {% block form_header %}
      {% endblock %}
      <table class="table">
        <tr>
          <td>ユーザ名</td>
          <td>{% block username %}{% endblock %}</td>
        </tr>
        <tr>
          <td>氏名</td>
          <td>{% block first_name %}{% endblock %} {% block last_name %}{% endblock %}</td>
        </tr>
        プロフィール画像
    </table>
    </div>
    <!-- プロフィール画像 -->
    <div class="card col-xs-12 col-sm-6">
      {% block profile %}{% endblock %}
    </div>

    {% block button %}
    {% endblock %}

    {% block form_fotter %}
    {% endblock %}

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="row card col-xs-12 col-sm-6">
      <table class="table">
        <tr>
          <td>方法</td>
          <td>リンク</td>
        </tr>
        <tr>
          {% block  Contact_list %}{% endblock %}
        </tr>
      </table>
    </div>
    <div class="card col-xs-12 col-sm-6">
      <table class="table">
        <tr>
          <td>スキル名</td>
          <td>スキルレベル</td>
        </tr>
        <tr>
          {% block  Skill_list %}{% endblock %}
        </tr>
      </table>
    </div>
  </div>
</div>


{% endblock %}
