{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="card col-xs-12 col-sm-6">
      <p>ログイン</p>
      <div class="card-group">
        <div class="card card-outline-primary">
          <div class="card-block">
            <form action="{% url 'user_auth:login' %}" method="POST">
    	    　　{{ form.username }}
    	    　　{{ form.password }}
    	  　　  {% csrf_token %}
    	  	  <input type="hidden" name="next" value="{{ next }}" />
    	  　　 <button type="submit" class="btn btn-lg btn-block btn-outline-primary" style="font-size:15px">
    	        ログインする
    	      </button>
            <p>{{ form.non_field_errors }}</p>
    	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
