{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- プロフィール画像 -->
    <div class="card col-xs-12 col-sm-6">
      <div class="card-header">
        <p1>プロフィール</p1>
      </div>
      プロフィール画像
      <button type="button1" class="btn btn-primary">アップロード</button>
    </div>
    <!-- プロフィールブロック -->
    <div class="card col-xs-12 col-sm-6">
      <table class="table">
        <tr>
          <td>主キー</td>
          <td>{{ user.id }}</td>
        </tr>
        <tr>
          <td>ユーザ名</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>氏名</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
          <td>連絡先</td>
          <td>
          <table class="table">
            <tr>
              <td>メールアドレス</td>
              <td>{{ user.email }} </td>
            </tr>
            <tr>
              <td>twitter</td>
              <td>twitterリンク </td>
            </tr>
            <tr>
              <td>github</td>
              <td>githubリンク </td>
            </tr>
          </table>
        </tr>
    </table>

<a href="{% url 'user_auth:updateprofile' user.id %}" >
      編集
</a>

  <!--<button type="button1" class="btn btn-primary float-right" >編集</button> -->
  </div>
</div><!-- /.container -->


{% endblock %}
